---
apiVersion: v1
kind: Secret
metadata:
  name: dreg-secret
data:
  .dockerconfigjson: ewoJImF1dGhzIjogewoJCSJodHRwczovL2NvcmUxLmxhbiI6IHsKCQkJImF1dGgiOiAiZEdWemRIVnpaWEk2Y0dGemN3PT0iCgkJfQoJfQp9
type: kubernetes.io/dockerconfigjson